[project]
	description = Security APAR Assistant Client
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kairo Araujo (kairoaraujo)
[access "refs/for/refs/*"]
	read = group user/Kairo Araujo (kairoaraujo)
	push = group user/Kairo Araujo (kairoaraujo)
	label-Code-Review = -2..+2 group user/Kairo Araujo (kairoaraujo)
	label-Verified = -1..+1 group user/Kairo Araujo (kairoaraujo)
	rebase = group user/Kairo Araujo (kairoaraujo)
	removeReviewer = group user/Kairo Araujo (kairoaraujo)
	submit = group user/Kairo Araujo (kairoaraujo)
[access "refs/heads/*"]
	read = group user/Kairo Araujo (kairoaraujo)
	create = group user/Kairo Araujo (kairoaraujo)
	push = +force group user/Kairo Araujo (kairoaraujo)
	pushMerge = group user/Kairo Araujo (kairoaraujo)
[access "refs/tags/*"]
	push = group user/Kairo Araujo (kairoaraujo)
	push = +force group user/Kairo Araujo (kairoaraujo)
